<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="midcard">
  	<mat-card-header>
    <mat-card-title>{{dataServ.selectedQmgr}}</mat-card-title>
    <mat-card-subtitle>Topic List information</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="td-container" [hidden]="this.dataServ.dataerr">
    <div style="justify-content: flex-end;display: flex;">
      <table cellpadding="0" cellspacing="0" style="width:180px">
        <tr>
          <td style="border-right: 0px!important;">
            <mat-form-field>
            <mat-label>System objects</mat-label>
            <mat-select (selectionChange)="dataServ.topiclist=[];dataServ.systemobj=$event.value;getTOPICS()">
              <mat-option value="no">No</mat-option>
              <mat-option value="yes">Yes</mat-option>
            </mat-select>
            </mat-form-field>
        </td>
        <td style="border-right: 0px!important;">
          <button mat-button (click)="ExportTOExcel()">Export</button>
        </td>
        <td style="border-right: 0px!important;">
          <button mat-button (click)="dataServ.topiclist=[];getTOPICS()">Refresh</button>
        </td>
        </tr>
      </table>
</div><br>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table #TOPICSort="matSort" mat-table [dataSource]="dataSourceTOPIC" matSort>
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-center"> Topic </th>
        <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
      </ng-container>
      <ng-container matColumnDef="topicstr">
        <th mat-header-cell *matHeaderCellDef class="header-align-center"> Topic String </th>
        <td mat-cell *matCellDef="let element"> {{element.topicstr}} </td>
      </ng-container>
      <ng-container matColumnDef="descr">
        <th mat-header-cell *matHeaderCellDef class="header-align-center"> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.descr}} </td>
      </ng-container>
      <ng-container matColumnDef="pubscope">
        <th *matHeaderCellDef mat-header-cell class="header-align-center"> Pub Scope</th>
        <td *matCellDef="let element" mat-cell> {{element.pubscope}} </td>
      </ng-container>
      <ng-container matColumnDef="subscope">
        <th *matHeaderCellDef mat-header-cell class="header-align-center"> Sub Scope</th>
        <td *matCellDef="let element" mat-cell> {{element.subscope}} </td>
      </ng-container>
      <ng-container matColumnDef="altdate">
        <th *matHeaderCellDef mat-header-cell class="header-align-center"> ALTDATE</th>
        <td *matCellDef="let element" mat-cell> {{element.altdate}} </td>
      </ng-container>
      <ng-container matColumnDef="alttime">
        <th *matHeaderCellDef mat-header-cell class="header-align-center"> ALTTIME</th>
        <td *matCellDef="let element" mat-cell> {{element.alttime}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedTOPICColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedTOPICColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-content class="td-container" *ngIf="this.dataServ.dataerr"><br>
    <div class="alert alert-danger" >
      <h4>Problem occured while establishing connecting to <b>{{dataServ.selectedQmgr}}</b>.<hr>
      Please check the connection parameters, if the server is available, if the Qmanager is available or if you have opened firewall to the listener port.</h4>
    </div>
  </mat-card-content>
</mat-card>


</div>
