<h2 mat-dialog-title>Queue Info</h2>
<mat-dialog-content class="mat-typography middialog" >

  <table class="table table-responsive qi-dialog-table" style="width:100%" cellspacing="0">
  <tr *ngFor="let qichild of QIdata | keyvalue">
    <td class="qi-key-cell">{{dataServ.objmapping.get($any(qichild.key))}}</td>
    <td class="qi-value-cell">{{qichild.value}}</td>
  </tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
