.container{display:flex;flex-direction:column;position:absolute;top:0;bottom:0;left:0;right:0}
.is-mobile .toolbar{position:fixed;z-index:2}
h1.app-name{margin-left:8px}
.sidenav-container{flex:1}
.is-mobile .sidenav-container{flex:1 0 auto}
.fill-remaining-space{flex:1 1 auto}
mat-sidenav-container,mat-sidenav-content,mat-sidenav{height:100%}
mat-sidenav{width:300px}
a{text-decoration:none;color:#fff}
a:hover,a:active{color:lightgray}
.navigation-items{list-style:none;padding:0;margin:0;cursor:pointer}
.icon{display:inline-block;height:30px;margin:0 auto;padding-right:5px;text-align:center;vertical-align:middle;width:15%}
.label{display:inline-block;line-height:30px;margin:0;width:85%}
.fill-remaining-space{flex:1 1 auto}
.ng-valid[required],.ng-valid.required{border-left:5px solid #42A948}
.ng-invalid:not(form){border-left:5px solid #a94442}
.app-name a{text-transform:uppercase;color:#fff;display:inline-block}
.app-name img{vertical-align:middle;border:0}
.app-name span{vertical-align:middle;margin-left:10px}