.app-div{margin-left:18px;margin-right:18px}
.container{padding:10px}
.midcard.mat-mdc-card{border:1px solid var(--border-color); border-radius:0;box-shadow:none;padding:0}
mad-card-content,.mat-mdc-card-content{padding:15px!important}