.td-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell {
  padding: 8px 12px !important;
  white-space: nowrap;
}

th.mat-mdc-header-cell:first-child,
td.mat-mdc-cell:first-child {
  text-align: left;
}

[hidden] {
  display: none !important;
}
